.detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  Button{
    margin: 0.25em
  }

  .centro{
    align-items: center;
  }