body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  display: flex;
  margin: 1em;
}

.navBar h2{

  margin-top:1.1em
}


.navBar ul{
    width: 60px;
    margin: 2em;
}

.navBar li{
  display: inline;
  margin: 1em;
}

.navBar img{
  height: 5em;
  margin: 1em;
}
